*
    padding: 0
    margin: 0
    box-sizing: border-box

body,html
    height: 100%
    font-family: 'Quicksand', sans-serif
    div
        display: block
    .bg
        filter: blur(2px)
        background-image: url('background.14d0f4518dd3581f.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-attachment: fixed
        height: 100%
        
    .contenedor
        display: flex
        flex-wrap: wrap

        .login
            width: 300px
            border: 5px solid #fff
            position: absolute
            top: 50%
            left: 50%
            margin: 20px
            text-align: center
            transform: translate(-50%, -50%)
            div
                padding: 10px
            .top
                background: #15535a
                display: flex
                justify-content: center
                overflow: visible
                position: relative
                .imagen
                    img
                        width: 80%
            .bottom
                padding-top: 20px
                padding-bottom: 5px
            /*a
                display: inline-block
                margin: 10px
                border: solid #fff
                padding: 10px
                text-decoration: none
                color: #fff
            
        .powered
            width: 200px
            display: flex
            flex-direction: column
            align-items: center
            position: absolute
            bottom: 0%
            border-radius: 5px
            margin: 20px
            color: #fff
            background: rgb(255,255,255,.1)
            animation: inInput .5s
            img, p
                padding: 5px
            img
                width: 80%
